
<app-customer-search></app-customer-search>
<h2>My Customers</h2>

<div>
  <label
    >Customer name:
    <input #customerName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(customerName.value); customerName.value = ''">
    Add
  </button>
</div>
<app-customer-record></app-customer-record>
<!-- <ul class="customers">
  <li *ngFor="let customer of customers"
  [class.selected]="customer.id === selectedId" >
   <a [routerLink]="['/customer', customer.id]">
      <span class="badge">{{ customer.id }}</span> {{ customer.name }}
    </a>
    <button class="delete" title="delete customer" (click)="delete(customer)">X</button>
  </li>
</ul> -->

